{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block main %}

        <img src = /static/Broomstick.jpg class="border border-white">
        <hr>
        <!-- interview section -->
        <h1 class = "text-white"> The following interview contains a transcript of all information gathered from Broomstick's interview </h1>
        <hr>
        <p class = "text-white" style = "line-height: 3em;">
             <span class = "text-primary"> Soos: </span> "Hello Mr Broomstick. My name is Soos, I have a couple questions for you dude."
            <br>
              <span class = "text-success">Broomstick: </span> "Ayo whats good g? Why you got opps all up in my crib?"
            <br>
             <span class = "text-primary"> Soos: </span> "I apologize but you are a key part of a municipal investigation of a most heinous crime."
            <br>
              <span class = "text-success">Broomstick: </span> "Oh nahhhhhhhhh g, I paid my taxes to UBM this year man, I got a grammy this ain't right."
            <br>
             <span class = "text-primary"> Soos: </span> "No, you haven't...but that's beside the point. What do you know about Eric Cartman and Kenny McCormick?"
            <br>
              <span class = "text-success">Broomstick: </span> "Those dudes...I ain't know squat 'bout em"
            <br>
              <span class = "text-primary"> Soos: </span> "Wait what? That's confusing dude, cause they seem to know a lot about your party last night."
            <br>
              <span class = "text-success">Broomstick: </span> "God damn ain't nobody loyal. They told you about my party recruitment? that's cold...they knew this had to be a secret, now everyone gonna know I fell off."
            <br>
              <span class = "text-primary"> Soos: </span> "You haven't made a hit in years dude, your Grammy's from 2010...even I know you fell off."
            <br>
              <span class = "text-success">Broomstick: </span> "Not like this g..."
            <br>
              <span class = "text-primary"> Soos: </span> "But hey dude. You could be a hero again, I just need some information and we can blow this case wide open and write your name on it dude."
            <br>
              <span class = "text-success">Broomstick: </span> "Aight, but don't tell nobody I snicthed, I just need my name out there no extra info."
            <br>
              <span class = "text-primary"> Soos: </span> "Got it dude."
            <br>
              <span class = "text-success">Broomstick: </span> "Kay I hired Cartman and Kenneth cause they got cred with the young demo. If I expanded my influence I coulda boosted my numbers, especially with a sick party full of mixed people."
            <br>
              <span class = "text-primary"> Soos: </span> "Hmmm...So why did he meet with his friends at my shack on the day the cart went missing??"
            <br>
              <span class = "text-success">Broomstick: </span> "I dunno man! He usually hangs around there, I mean I met the guy there, I don't think it leads to anything."
            <br>
              <span class = "text-primary"> Soos: </span> "Alright then, may I see your messages with both of them dude?"
            <br>
              <span class = "text-success">Broomstick: </span> "Yeah whatever man..."
            <br>
              <span class = "text-primary"> Soos: </span> "12:00 KN PVMMMB: Dv tlg 50 kvlkov, dviv tlrmt gl gsv kzigb mld. What is this?"
            <br>
              <span class = "text-success">Broomstick: </span> "Oh yeah man...I was tryna finance my Broomstick NFT campaign..I got a wack crypto miner; now my phone all nuts."
            <br>
              <span class = "text-primary"> Soos: </span> "Well, whatever dude...one last question, how does Cartman know Cristiano Ronaldo?"
             <br>
              <span class = "text-success">Broomstick: </span> "Ronaldo, that psycho? How's he related to this mess? Either way I got no idea."
             <br>
              <span class = "text-primary"> Soos: </span> "Yeah I thought so dude. Anyway, you know why he wrote an encrypted link on the back of this photo?"
             <br>
              <span class = "text-success">Broomstick: </span> "Bruh what? I dunno man, maybe he's just weird like that. I had a decryptor around, but I lost it, it's prob somewhere around here."
             <br>
              <span class = "text-primary"> Soos: </span> *Sigh* "Good day Broomstick"

        </p>
        <form action ="/decryptor">
           <button class = "btn-dark" style = "height:20px; Border:none;" type="submit"><span style= "color:grey; font-size:8px">?</span></button>
        </form>
{% endblock %}
