{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block main %}

        <img src = /static/cart2.gif class="border border-white">
        <hr>
        <!-- interview section -->
        <h1 class = "text-white"> The following interview contains a transcript of all information gathered from Eric's interview </h1>
        <hr>
        <p class = "text-white" style = "line-height: 3em;">
              <span class = "text-primary"> Soos: </span> "Hello Cartman, my name is Soos Ramirez, I would like to ask you some questions regarding the dissappearance of my golf cart"
            <br>
              <span class = "text-danger"> Cartman: </span> "Hello Soos, how can i help you?"
            <br>
              <span class = "text-primary"> Soos: </span> "Can it dude, tell me where the cart is, tell me what you know Cartman"
            <br>
              <span class = "text-danger"> Cartman: </span> "Well well well, how could I possibly be involved with this crime?"
            <br>
              <span class = "text-primary"> Soos: </span> "Dude, yesterday at 8 in the morning my cameras saw you talking with 3 other dudes near the back of the shack...you kept turning around and staring at the camera...still don't understand?"
            <br>
              <span class = "text-danger"> Cartman: </span> "Oh ho ho, a simple misunderstanding my friend, that was for my animal rights club! We were dicusssing the impacts of PETA in our modern world, ntohing to get worried about i assure you."
            <br>
               <span class = "text-primary"> Soos: </span> "Great, now remind me why you showed an address to the residence of a certain Lil Broomstick"
            <br>
               <span class = "text-danger"> Cartman: </span> "Myah, well played Mr Soos, well played indeed. I guess your CCTV goes beyond 144p no?"
            <br>
                <span class = "text-primary"> Soos: </span> "Do I look like a bank to you dude?"
             <br>
                <span class = "text-primary"> Soos: </span> "Anyways, now you're on the hook; what do you know, why did you lie...Cartman?"
            <br>
                <span class = "text-danger"> Cartman: </span> "Surely you can't be stupid enough to think that I stole your cart. I have no motive, I am above such menial crimes."
            <br>
                <span class = "text-primary"> Soos: </span> "Doesn't answer my question dude, why did you lie? Who is Broomstick to you? I know where Clyde-frog is..."
            <br>
                 <span class = "text-danger"> Cartman: </span> "EASY! easy; I'll explain. So maybe it doesn't look so good, i assure you, it's just a misunderstanding!"
             <br>
                 <span class = "text-danger"> Cartman: </span> "Me, my friends and Broomstick had a deal. We bring as many people as possible to his album drop party and he gives us a years worth of 'Rap Snacks: Cheesy Poofs X Lil Broomstick'. I wanted to keep it a secret so people like you wouldn't try to steal them. That's why we were talking out back, and why I kept staring at the camera okay?"
                <!-- MAIN PIVOTAL POINT; DEAL IS REAL, TALK IS FAKE; ACTUALLY ABOUT STEALING CART AND SUING KENNY'S DISSAPEARANCE FOR SYMPATHY -->
             <br>
                <span class = "text-primary"> Soos: </span> "And Broomstick can confirm this...dude?"
             <br>
                 <span class = "text-danger"> Cartman: </span> "Of course."
            <br>
                 <span class = "text-primary"> Soos: </span> "Okay then. Why were you dudes seen leaving only a few hours later at 11:50 AM, without Kenny? Only 10 minutes before the car was found missing?"
            <br>
                 <span class = "text-danger"> Cartman: </span> "Dude...no; like seriously, seriously, seriously..seriously what the [censored]. This is so disrespectful...like I can't believe you."
            <br>
                <span class = "text-primary"> Soos: </span> "What?" <!-- KENNY IS ALIVE -->
             <br>
                 <span class = "text-danger"> Cartman: </span> "Keeeny died Soos, he was bit by a mosquito near the shack, he wasn't vaccinated Soos, he couldn't afford it. the McCormickron killed him in minutes you monster. Poor Keeny" *Cartman audibly begins to cry*
             <br>
                <span class = "text-primary"> Soos: </span> "Dude...im so sorry...But wait; nobody reported it? If the shack was so close we could have helped him, you could have saved him."
            <br>
                 <span class = "text-danger"> Cartman: </span> "Are you...are you accusing me of killing Keeny? You..you [                         Censored                          ]"
            <br>
            <br>
                 <span class = "text-warning"> Cartman runs away swearing, dropping a note with a picture of Ronaldo on it. An enrypted link is visible on the back of the photo, it reads</span> <span class = "text-primary">myyux://bbb.dtzyzgj.htr/bfyhm?a=jGc2EIPH2_F&fg_hmfssjq=Fedwj<span>

        </p>
{% endblock %}
