{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block main %}
        <!-- main LOGS / text box -->
        <form action="/" method="post">
            <h1 class = "text-white">Your Data Logs: </h1>
            <hr>
            <textarea type = "text" name="logs" id="logs" >{{logs}}</textarea>
            <hr>

            {% if name not in secretAccounts%}
                <button class="btn btn-warning" type="submit">Save Logs?</button>
            {% endif %}
        </form>

{% endblock %}
