{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block main %}

        <img src = /static/richard.gif class="border border-white">
        <hr>
        <!-- interview section -->
        <h1 class = "text-white"> The following interview contains a transcript of all information gathered from Richard's interview </h1>
        <hr>
        <p class = "text-white" style = "line-height: 3em;">
              <span class = "text-primary"> Soos: </span> "Richard Watterson!!! You filthy animal, what have you done!?"
            <br>
              <span class = "color_purple"> Richard: </span> "Oh hiya boss! What's wrong."
            <br>
               <span class = "text-primary"> Soos: </span> "Where is the cart!"
            <br>
              <span class = "color_purple"> Richard: </span> "I dunno boss...wait, you think I STOLE IT?"
            <br>
               <span class = "text-primary"> Soos: </span> "YES, why were you at work today dude?!"
            <br>
              <span class = "color_purple"> Richard: </span> "I can't tell you that...but please trsut me Soos."
            <br>
               <span class = "text-primary"> Soos: </span> "Richard, dude, you need to tell me why. If not I have to arrest you dude, you're my final lead."
            <br>
              <span class = "color_purple"> Richard: </span> "No!"
            <br>
               <span class = "text-primary"> Soos: </span> "Richard!"
             <br>
              <span class = "color_purple"> Richard: </span> "Fine, me and my buddy Ronaldo were hiding your birthday present...there, happy??"
            <br>
               <span class = "text-primary"> Soos: </span> "Dude, my birthday isn't for months. That can't clear you..."
             <br>
              <span class = "color_purple"> Richard: </span> "It's a complex present, it needs to saty hidden...please, you got it all wrong!"
             <br>
               <span class = "text-primary"> Soos: </span> "I'm sorry...I don't believe you Rich."
            <br>
              <span class = "color_purple"> Richard: </span> "FINE...Soos, I don't have a license; you know me, I would be too scared!"
            <br>
               <span class = "text-primary"> Soos: </span> "You raise a fair point, but Richard...I don't know you anymore dude. Give me your keys to the shack, you're under investiagtion."
             <br>
              <span class = "color_purple"> Richard: </span> "I-i...can't find them..."
            <br>
               <span class = "text-primary"> Soos: </span> "..."
             <br>
               <span class = "text-primary"> Soos: </span> "Search him dudes..."
             <br>
                  --------------------------------------------------------------------------------------------------------------------------------------------
             <br>
              Some crumbs and granola chunks were also found in his pockets.
              <br>
               A yellow mitten was found in Richard's key pocket, it doesn't seem as though they are his.
              <br>
               A nerf gun was found attatched to Richard's belt
              <br>
              A usb containing an encrypted image was found, the caption reads: Z yofiib krxgfiv lu yfwwrvh Ilmzowl zmw Irxsziw, Ilmzowl slowh z irmt drgs nzmb klrmgb vwtvh, rg rh zonlhg lfg lu gsv xznviz'h ervd yvsrmw Ilmzowl.
        </p>
{% endblock %}
