{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block main %}

        <img src = /static/SUI.gif class="border border-white">
        <hr>
        <!-- interview section -->
        <h1 class = "text-white"> The following interview contains a transcript of all information gathered from Ronaldo's interview </h1>
        <hr>
        <p class = "text-white" style = "line-height: 3em;">
             <span class = "text-primary"> Soos: </span> "Ronaldo..."
            <br>
              <span class = "text-warning">Ronaldo: </span> "SUIIIIIIIIIIIII?"
            <br>
              <span class = "text-primary"> Soos: </span> "You've got some dirt on your tail bro, I need you to clarify a few things for me."
            <br>
              <span class = "text-warning">Ronaldo: </span> "YES SUI."
            <br>
              <span class = "text-primary"> Soos: </span> "How do you know Cartman?"
             <br>
              <span class = "text-warning">Ronaldo: </span> "Cartman? No no, never heard SUIIIII."
            <br>
              <span class = "text-primary"> Soos: </span> "Really, cause he seems to be quite attached to you my dude." *Soos shows the picture Cartman dropped*
            <br>
              <span class = "text-primary">Soos: </span> "Why does he have this? Dude?"
            <br>
              <span class = "text-warning">Ronaldo: </span> "Merchandising SUII."
            <br>
              <span class = "text-primary">Soos: </span> "And the link? Why does this one have a link; also who sells photos of themselves for merchandising?"
            <br>
              <span class = "text-warning">Ronaldo: </span> "Funny video and money SUI. They all have SUI."
            <br>
              <span class = "text-primary">Soos: </span> "See, I know my cart didn't just dissappear, you're all connected. Cartman is the damn root of all of it."
            <br>
              <span class = "text-warning">Ronaldo: </span> "No I innocent SUI. I have many fans, this Cartman probably fan SUI."
            <br>
              <span class = "text-primary">Soos: </span> "..."
             <br>
              <span class = "text-warning">Ronaldo: </span> "Why would I want a cart SUI? I can buy Lamborghini vroom vroom SUI?"
            <br>
              <span class = "text-primary">Soos: </span> "So then you told him how to break the lock into the garage!"
            <br>
              <span class = "text-warning">Ronaldo: </span> "SUI but why would I do that? Soos, you are chasing soccer ball already in goal, you lose SUI?"
            <br>
              <span class = "text-primary">Soos: </span> "..."
             <br>
              <span class = "text-primary">Soos: </span> "Search him"
            <br>
              <span class = "text-warning">Ronaldo: </span> "NO red card REFEREE, TRIP, SUIIIIII."
            <br>
              <span class = "text-primary">Soos: </span> "STOP RESISTING DUDE!"
            <br>
              <span class = "text-warning">Ronaldo: </span> "Police! SUIII!"
             <br>
              <span class = "text-primary">Soos: </span> "I am the police, I am the law, and you stand accused."
            <br>
              <span class = "text-warning">Ronaldo: </span> "Haha, not original SUI!"
             <br>
              <span class = "text-primary">Soos: </span> "Aw come one dude."
            <br>
                *Soos pulls out a slip of paper containing a list*
                <br>
                	Ozqd 29:
                <br>
                    8:00 FR: Bfpj zu; XZNNNNNNNNNN
                <br>
                    8:32 GS: Hxkgqlgyz, gtj vxkvgxk lux sgxqkzzotm skkzotm
                <br>
                    9:15 GS: jxobk zu sgxqkzzotm skkzotm
                <br>
                   10:00 HT: Dypal uvalz ha thyrlaapun tllapun
                <br>
                   	11:00 HT: Slhcl tllapun, wylwhyl ibzpulzz wshu.
                 <br>
                    pqqp: [ scratched out, no discernable text ]
            <br>
              <span class = "text-primary">Soos: </span> "Come on, what language is this? More no good gibberish...damn"
            <br>
              <span class = "text-warning">Ronaldo: </span> "It portugal, run through google translate SUI?"
            <br>
              <span class = "text-primary">Soos: </span> "Alright, hold him still...What do you know about Lil Broomstick, why do you think he would need a cart"
            <br>
              <span class = "text-warning">Ronaldo: </span> "For party, he need a sick attraction SUI? People like car, car go fast vroom vroom."
            <br>
              <span class = "text-primary">Soos: </span> "How did you know about the party? Broomstick fell off, he's underground again."
            <br>
              <span class = "text-warning">Ronaldo: </span> "My friend Richard listen some kids talking about earlier this morning; you know him SUI, he work for you?"
            <br>
              <span class = "text-primary">Soos: </span> "Richard wasn't supposed to be at work today. An inside job, prefectly set up to frame little innocent Cartman; mother of God. Richard Watterson, you better have something to say for yourself."

        </p>
{% endblock %}
